body {
    font-family: Arial, sans-serif;
    background-color: #514e4e;
    margin: 0;
    padding: 20px;
}

.details {
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 600px;
    margin: auto;
}
span{
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
}
.leftside {
    padding: 20px;
    background-color:rgb(106, 44, 44); 
    color: white;
    text-align: center;
}

.leftside img {
    width: 200px; 
    height: 200px;
    border-radius: 100px;
}

.rightside {
    padding: 20px;
    flex-grow: 1;
}

.rightside div {
    margin-bottom: 15px;
}

h3 {
    margin: 0;
    font-size: 1.2em;
}

.emolyiid {
    font-weight: bold;
    color: #333; 
}

.name {
    font-size: 1em; 
    color: #333;
}

.designation,
.experience,
.salary,
.email,
.phonenumber {
    color: #666; 
}

.btn {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

/* button {</div>
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; 
}
.btn button a{
    text-decoration: none;
    color: white;
    font-weight: 400;
} */
button {
    display: flex;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    /* background-color: #007BFF;
    color: white; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn>button{
    width: 80px;
    height: 40px;
    background-color: dodgerblue;
    border: 0;
    box-shadow: 0 2px 2px gray;
    border-radius: 10px;
    
}
.btn>button>a{
    text-decoration: none;
    color: white;
   padding: 4px 8px;
}
.btn1>button{
    width: 80px;
    height: 40px;
    background-color: red;
    border: 0;
    box-shadow: 0 2px 2px gray;
    border-radius: 10px;
    
}
.btn1>button>a{
    text-decoration: none;
    color: white;
   padding: 4px 8px;
}
.btn2>button{
    width: 80px;
    height: 40px;
    background-color: rgb(5, 5, 6);
    border: 0;
    box-shadow: 0 2px 2px gray;
    border-radius: 10px;
    margin-left: 90px;
    margin-top: -40px;
    
}
.btn2>button>a{
    text-decoration: none;
    color: white;
   padding: 4px 8px;
}
 
@media (max-width: 600px) {
    .details {
        flex-direction: column; 
    }

    .leftside, .rightside {
        text-align: center;
    }
}
